#title-container {
    text-align: center;
}

#menu-container {
    width: 30vw;
    height: 30vh;
    margin: auto;
    background-color: red;
    border-radius: 0.25ch;
    /* text-align: center; */
}

#title-label {
    color: rgb(255, 238, 0);
    font-size: 10dvh;
    font-family: "Dejavu Sans Mono", monospace;
}